@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@model IEnumerable<Product>
@{
    var status = Context.Request.Query["status"];
    var Sofa = "text-primary";
    var Chair = "text-primary";
    var Bed = "text-primary";
    var Barbaron = "text-primary";
    var all = "text-primary";
    switch (status)
    {
        case "Sofa":
            Sofa = "active text-white bg-primary";
            break;
        case "Chair":
            Chair = "active text-white bg-primary";
            break;
        case "Bed":
            Bed = "active text-white bg-primary";
            break;
        case "Barbaron":
            Barbaron = "active text-white bg-primary";
            break;
       
        
    }
}
@{
    ViewData["Title"] = "Home";
}
@{
    var siteName = Configuration["WebsiteSettings:SiteName"];
}
<div class="container text-center">
    <h1 class="display-4 mb-3 p-3 bg-primary text-white rounded shadow-lg">
        Welcome to @siteName
    </h1>
</div>

<div class="text-center">
    <img src="~/HomePagePhotos/ne-one-1.jpg" alt="Chairs and sofas image" class="img-fluid d-block mx-auto p-3" style="width: 50%; height: auto;" />
    <h1 class ="d-block mx-auto p-3" style="width: 70%; height: auto;">Shop by category</h1>
    <div class="filter-box">
        <div>
            <ul class="list-group list-group-horizontal-sm mx-auto justify-content-center">
                <a style="text-decoration:none;" asp-controller="Home" asp-action="Index" asp-route-status="all">
                    <li class="list-group-item @all">
                        All
                    </li>

                </a>


                <a style="text-decoration:none;" asp-controller="Home" asp-action="Index" asp-route-status="Sofa">
                <li class="list-group-item @Sofa">
                        Sofa
                    </li>

                </a>

                <a style="text-decoration:none;" asp-controller="Home" asp-action="Index" asp-route-status="Chair">
                <li class="list-group-item @Chair">
                        Chair
                    </li>

                </a>
                <a style="text-decoration:none;" asp-controller="Home" asp-action="Index" asp-route-status="Bed">
                <li class="list-group-item @Bed">
                        Bed
                    </li>

                </a>
                <a style="text-decoration:none;" asp-controller="Home" asp-action="Index" asp-route-status="Barbaron">
                <li class="list-group-item @Barbaron">
                        Barbaron
                    </li>

                </a>


            </ul>
        </div>
    </div>

</div>
<div class="row pb-3">
   
    @foreach (var product in Model)
    {
        var category = product.Category?.Name ?? "uncategorized";

        @if (status.Count == 0 || status[0] == "all" || category == status[0])
        {
            <div class="col-lg-3 col-sm-6 pb-4" data-category="@category">
                <div class="row p-2">
                    <div class="col-12 p-1">
                        <div class="card border-0 p-3 shadow border-top border-5 rounded">
                            @if (product.ProductImages != null && product.ProductImages.Count() > 0)
                            {
                                <img src="@product.ProductImages.FirstOrDefault().ImageUrl" class="card-img-top rounded"/>
                            }
                            else
                            {
                                <img src="https://placehold.co/500x600/png" class="card-img-top rounded"/>
                            }

                            <div class="card-body pb-0">
                                <div class="pl-1">
                                    <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@product.Title</p>
                                    <p class="card-title text-warning text-center">by <b>@product.Author</b></p>
                                </div>
                                <div class="pl-1">
                                    <p class=" text-dark text-opacity-75 text-center mb-0">
                                        List price:
                                        <span class="text-decoration-line-through">
                                            @product.ListPrice.ToString("c")
                                        </span>
                                    </p>
                                </div>
                                <div class="pl-1">
                                    <p class=" text-dark text-opacity-75 text-center">
                                        As low as:
                                        <span>
                                            @product.Price100.ToString("c")
                                        </span>
                                    </p>
                                </div>
                                <a asp-action="Details"
                                   asp-route-productId="@product.Id"
                                   class="btn btn-primary bg-gradient border-0 form-control">
                                    Details
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
    }
    @if (!Model.Any() || !Model.Any(product => status.Count == 0 || status[0] == "all" || product.Category?.Name == status[0]))
    {
        <div class="col-12 mb-5">
            <h1 class="text-center mt-5">Sorry, there are no @status[0] products :(</h1>
        </div>
    }
</div>
@section Scripts {
    <script src="~/js/category.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

}
